# Telegram Bot 설정
BOTTOKEN=
BOTTOKEN_DEV=
WEBHOOK_URL=https://example.com/subpath
WEBHOOK_URL_DEV=https://example.com/subpath

# 공공데이터포털 API key (역 검색용)
DATAGOV_API_KEY=your_api_key_here

# Korail 관리자 계정 설정  
ADMIN_KORAIL_ID=
ADMIN_KORAIL_PW=

# 사용자 관리 설정
ALLOW_LIST=000-0000-0000,000-0000-0000,000-0000-0000
ADMINPW=

# Redis 및 Celery 사용여부 (True/False)
# Celery를 사용하지 않는 경우 subprocess 방식으로 동작
USE_CELERY=True